scopeName: 'breakdown.jira'
name: 'Breakdown'
fileTypes: [
    'bkdn'
]
firstLineMatch: '(?i)^\\s*(jira-breakdown|breakdown)\\s*$'
foldingStartMarker: ''
foldingStopMarker: ''
patterns: [
    {
        'name': 'settings.jira'
        'begin': '(?i)^\\s*(jira-breakdown|breakdown)\\s*$'
        'beginCaptures':
            '1':
                'name': 'settings.begin.jira'
        'end': '^\\s*---\\s*$|^\\s*$'
        'endCaptures':
            '0':
                'name': 'settings.end.jira'
        'patterns': [
            {
                'name': 'settings.jira-url.jira'
                'match': '(?i)^\\s*(url)\\s*(:)\\s*(.*)'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'name': 'settings.query.jira'
                'match': '(?i)^\\s*(query)\\s*(:)\\s*(.*)'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'name': 'settings.project.jira'
                'match': '(?i)^\\s*(project)\\s*(:)\\s*(.*)'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'name': 'settings.fixversion.jira'
                'match': '(?i)^\\s*(fixversion)\\s*(:)\\s*(.*)'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'name': 'settings.points.jira'
                'match': '(?i)^\\s*(points)\\s*(:)\\s*(.*)'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'name': 'settings.fields.jira'
                'begin': '(?i)^\\s*(fields)\\s*(:)\\s*'
                'beginCaptures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                'end': '$'
                'patterns': [
                    {
                        'name': 'settings.value.jira'
                        'match': '(?i)\\b(parentkey)\\b|\\b(rank)\\b'
                    }
                ]

            }
        ]
    }
    {
        'name': 'statistics.jira'
        'begin': '(?i)^\\s*(statistics)\\s*$'
        'beginCaptures':
            '1':
                'name': 'statistics.begin.jira'
        'end': '^\\s*---\\s*$'
        'endCaptures':
            '0':
                'name': 'statistics.end.jira'
        'patterns': [
            {
                'name': 'issue.unresolved.jira'
                'begin': '(?i)^\\s*([A-Z]{1,10}-\\d+)\\s*([^\\s].*:)'
                'beginCaptures':
                    '1':
                        'name': 'unresolved.issue.key.jira'
                    '2':
                        'name': 'unresolved.issuetype.jira'
                'end': '$'
                'patterns': [

                    {
                    'include': '#parentkey'
                    }
                    {
                    'include': '#summary'
                    }
                ]

            }
        ]
    }
    {
        'name': 'issue.no-parent-in-selection.jira'
        'match': '(?i)^\\s*(no[\\s]+parent.*|parent[\\s]+not.*|parent[\\s]+is[\\s]+not.*)$'
    }
    {
        'name': 'issue.empty-parent.jira'
        'match': '(?i)^\\s*(empty[\\s]+parent.*|without[\\s]+parent.*)$'
    }
    {
        'name': 'issue.delete.epic.jira'
        'begin': '(?i)^\\s*(del|delete)(\\s*resolved\\s*|\\s*)(Epic)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.delete.jira'
            '3':
                'name': 'issue.type.epic.jira'
        'end': '$'
        'patterns': [
            {
                'include': '#key'
            }
        ]
    }
    {
        'name': 'issue.delete.story.jira'
        'begin': '(?i)^\\s*(del|delete)(\\s*resolved\\s*|\\s*)(Story)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.delete.jira'
            '3':
                'name': 'issue.type.story.jira'
        'end': '$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#parentkey'
            }
        ]
    }
    {
        'name': 'issue.delete.sub-task.jira'
        'begin': '(?i)^\\s*(del|delete)(\\s*resolved\\s*|\\s*)(Sub-Task|Subtask|Sub)\\s+'
        'beginCaptures':
            '1':
                'name': 'issue.delete.jira'
            '3':
                'name': 'issue.type.sub-task.jira'
        'end': '$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#parentkey'
            }
        ]
    }
    {
        'name': 'issue.resolved.epic.jira'
        'begin': '(?i)^\\s*(Resolved)\\s+(Epic)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.resolved.jira'
            '2':
                'name': 'issue.type.epic.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#summary'
            }
        ]
    }
    {
        'name': 'issue.resolved.story.jira'
        'begin': '(?i)^\\s*(Resolved)\\s+(Story)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.resolved.jira'
            '2':
                'name': 'issue.type.story.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#parentkey'
            }
            {
                'include': '#summary'
            }
        ]
    }
    {
        'name': 'issue.resolved.sub-task.jira'
        'begin': '(?i)^\\s*(Resolved)\\s+(Sub-Task|Subtask|Sub)\\s+'
        'beginCaptures':
            '1':
                'name': 'issue.resolved.jira'
            '2':
                'name': 'issue.type.sub-task.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#parentkey'
            }
            {
                'include': '#summary'
            }
        ]
    }
    {
        'name': 'issue.epic.jira'
        'begin': '(?i)^\\s*(Epic)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.type.epic.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#summary'
            }
        ]
    }
    {
        'name': 'issue.story.jira'
        'begin': '(?i)^\\s*(Story)\\b'
        'beginCaptures':
            '1':
                'name': 'issue.type.story.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#parentkey'
            }
            {
                'include': '#summary'
            }
        ]
    }
    {
        'name': 'issue.sub-task.jira'
        'begin': '(?i)^\\s*(Sub-Task|Subtask|Sub)\\s+'
        'beginCaptures':
            '1':
                'name': 'issue.type.sub-task.jira'
        'end': '\\s*$'
        'patterns': [
            {
                'include': '#key'
            }
            {
                'include': '#fields'
            }
            {
                'include': '#parentkey'
            }
            {
                'include': '#summary'
            }
        ]
    }
]
'repository':
    'key': {
        'name': 'issue.key.jira'
        'match': '[A-Z]{1,10}-\\d+'
        }
    'parentkey': {
        'name': 'issue.parent.key.jira'
        'match': '\\^[A-Z]{1,10}-\\d+'
    }
    'fields': {
        'name': 'issue.fields.jira'
        'begin': '\\('
        'beginCaptures':
            '0':
                'name': 'fields.begin.jira'
        'end': '\\)|$'
        'endCaptures':
            '0':
                'name': 'fields.end.jira'
        'patterns': [
            {
                'name': 'issue.status.jira'
                'match': '(?i)(s:\\s*)(.+?(?=\\s*+a:|\\s*+p:|\\s*+v:|\\s*+\\)))(?-i)'
                'captures':
                    '1':
                        'name':'issue.field.identifier.jira'
                    '2':
                        'name': 'issue.field.value.jira'
            }
            {
                'name': 'issue.assignee.jira'
                'match': '(?i)(a:\\s*)(.+?(?=\\s*+s:|\\s*+p:|\\s*+v:|\\s*+\\)))(?-i)'
                'captures':
                    '1':
                        'name':'issue.field.identifier.jira'
                    '2':
                        'name': 'issue.field.value.jira'
            }
            {
                'name': 'issue.points.jira'
                'match': '(?i)(p:\\s*)(.+?(?=\\s*+s:|\\s*+a:|\\s*+v:|\\s*+\\)))(?-i)'
                'captures':
                    '1':
                        'name':'issue.field.identifier.jira'
                    '2':
                        'name': 'issue.field.value.jira'
            }
            {
                'name': 'issue.fixversion.jira'
                'match': '(?i)(v:\\s*)(.+?(?=\\s*+s:|\\s*+a:|\\s*+p:|\\s*+\\)))(?-i)'
                'captures':
                    '1':
                        'name':'issue.field.identifier.jira'
                    '2':
                        'name': 'issue.field.value.jira'
            }
        ]
    }
    'summary': {
        'name': 'issue.summary.jira'
        'match': '[^\\s].*(?=\\^[A-Z]{1,10}-\\d+)|[^\\s].*(?!\\^[A-Z]{1,10}-\\d+)'
    }
