scopeName: 'breakdown.jira'
name: 'JIRA Breakdown'
fileTypes: [
    'bkdn'
]
firstLineMatch: '(?i)^\\s*jira-breakdown\\s*$'
foldingStartMarker: ''
foldingStopMarker: ''
patterns: [
    {
        'begin': '(?i)^\\s*jira-breakdown\\s*$'
        'beginCaptures':
            '0':
                'name': 'settings.begin.jira'
        'end': '^\\s*---\\s*$|^\\s*$'
        'endCaptures':
            '0':
                'name': 'settings.end.jira'
        'name': 'settings.jira'
        'patterns': [
            {
                'match': '(?i)(^\\s*url\\s*)(:)(.*)'
                'name': 'settings.jira-url.jira'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }
            {
                'match': '(?i)(^\\s*query\\s*)(:)(.*)'
                'name': 'settings.query.jira'
                'captures':
                    '1':
                        'name': 'settings.key.jira'
                    '2':
                        'name': 'settings.punctuation.separator.key-value.jira'
                    '3':
                        'name': 'settings.value.jira'
            }

        ]
    }
    { #allows syntax: Epic JIRA-1234 (anything) The summary text of the issue ^JIRA-5678
        'match': '(?i)(^\\s*Epic\\s+)(?-i)([A-Z]{1,10}-\\d+\\s+)?(\\(.*?\\)\\s+)?([^\\s].*(?=\\^[A-Z]{1,10}-\\d+\\s*$)|[^\\s].*(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
        'name': 'issue.epic.jira'
        'captures':
            '1':
                'name': 'issue.type.epic.jira'
            '2':
                'name': 'issue.key.jira'
            '3':
                'name': 'issue.status.jira'
            '4':
                'name': 'issue.summary.jira'
            '5':
                'name': 'issue.key.parent.jira'
    }
    { #allows syntax: Story JIRA-1234 (anything) The summary text of the issue ^JIRA-5678
        'match': '(?i)(^\\s*Story\\s+)(?-i)([A-Z]{1,10}-\\d+\\s+)?(\\(.*?\\)\\s+)?([^\\s].*(?=\\^[A-Z]{1,10}-\\d+\\s*$)|[^\\s].*(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
        'name': 'issue.story.jira'
        'captures':
            '1':
                'name': 'issue.type.story.jira'
            '2':
                'name': 'issue.key.jira'
            '3':
                'name': 'issue.status.jira'
            '4':
                'name': 'issue.summary.jira'
            '5':
                'name': 'issue.parent.parent.jira'
    }
    { #allows syntax: Sub-Task JIRA-1234 (anything) The summary text of the issue ^JIRA-5678
        'match': '(?i)(^\\s*Sub-Task\\s+|^\\s*Subtask\\s+|^\\s*Sub\\s+)(?-i)([A-Z]{1,10}-\\d+\\s+)?(\\(.*?\\)\\s+)?([^\\s].*(?=\\^[A-Z]{1,10}-\\d+\\s*$)|[^\\s].*(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
        'name': 'issue.sub-task.jira'
        'captures':
            '1':
                'name': 'issue.type.sub-task.jira'
            '2':
                'name': 'issue.key.jira'
            '3':
                'name': 'issue.status.jira'
            '4':
                'name': 'issue.summary.jira'
            '5':
                'name': 'issue.key.parent.jira'
    }

]
