scopeName: 'breakdown.jira'
name: 'JIRA Breakdown'
fileTypes: [
  'bd'
  'jbd'
  'bkd'
  'jbkd'
]
firstLineMatch: 'jira-breakdown'
foldingStartMarker: ''
foldingStopMarker: ''
patterns: [
  { #allows syntax: Epic JIRA-1234 (anything) The summary text of the issue ^JIRA-5678
    'match': '(?i)(^\\s*Epic\\s+)([A-Z]{1,10}-\\d+\\s*)?(\\(.*\\)\\s*)?(.+(?=\\^[A-Z]{1,10}-\\d+\\s*$)|.+(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
    'name': 'issue.epic.jira'
    'captures':
      '1':
        'name': 'issue.type.epic.jira'
      '2':
        'name': 'issue.key.jira'
      '3':
        'name': 'issue.status.jira'
      '4':
        'name': 'issue.summary.jira'
      '5':
        'name': 'issue.parent-key.jira'
  }
  {
    'match': '(?i)(^\\s*Story\\s+)([A-Z]{1,10}-\\d+\\s*)?(\\(.*\\)\\s*)?(.+(?=\\^[A-Z]{1,10}-\\d+\\s*$)|.+(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
    'name': 'issue.story.jira'
    'captures':
      '1':
        'name': 'issue.type.story.jira'
      '2':
        'name': 'issue.key.jira'
      '3':
        'name': 'issue.status.jira'
      '4':
        'name': 'issue.summary.jira'
      '5':
        'name': 'issue.parent-key.jira'
  }
  {
    'match': '(?i)(^\\s*Sub\\s+|^\\s*Subtask\\s+|^\\s*Sub-Task\\s+)([A-Z]{1,10}-\\d+\\s*)?(\\(.*\\)\\s*)?(.+(?=\\^[A-Z]{1,10}-\\d+\\s*$)|.+(?!\\^[A-Z]{1,10}-\\d+\\s*$))(\\^[A-Z]{1,10}-\\d+\\s*$)?'
    'name': 'issue.sub-task.jira'
    'captures':
      '1':
        'name': 'issue.type.sub-task.jira'
      '2':
        'name': 'issue.key.jira'
      '3':
        'name': 'issue.status.jira'
      '4':
        'name': 'issue.summary.jira'
      '5':
        'name': 'issue.parent-key.jira'
  }
]
