// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.breakdown {}

atom-text-editor {
  .line {
    color: @text-color-subtle;
  }

  .syntax--key {
    color: @text-color-warning;
  }

  .syntax--parent {
    color: @text-color-warning;
  }

  .syntax--issue.syntax--epic {}

  .syntax--issue.syntax--status {
    color: @text-color-info;
  }

  .syntax--issue.syntax--summary {
    color: @text-color;
  }

  .syntax--issue.syntax--type.syntax--epic {
    color: @text-color-warning;
  }

  .syntax--issue.syntax--type.syntax--story {
    color: @text-color-warning;
  }

  .syntax--issue.syntax--type.syntax--sub-task {
    color: @text-color-warning;
  }
}